* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5eaf0;
}

.parent {
    display: grid;
    margin: 10px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}



.child1 {
    background-color: #6c41c1;
    grid-column: 1/3;
    grid-row: 1/2;
    flex-direction: column;
    display: flex;
    color: white;
}
.child1 .row1 {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.child1 .row1 h5 {
    margin: 0;
}
.child1 .row1 p {
    font-size: 10px;
    margin: 0;
}
.child1 .name-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child1 .row2 {
    padding: 5px 20px 0px 20px;
}
.child1 .row2 p {
    padding-top: 20px;
    font-size: 13px;
    color: #9777d5;
}
.child1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}




.child2 {
    background-color: #4b5569;
    grid-column: 3/4;
    grid-row: 1/2;
}
.child2 .row1 {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.child2 .row1 h5 {
    margin: 0;
}
.child2 .row1 p {
    font-size: 10px;
    margin: 0;
}
.child2 .name-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child2 .row1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.child2 .row2 {
    padding: 5px 20px 0px 20px;
}
.child2 .row2 p {
    padding-top: 20px;
    font-size: 13px;
    color: #8d96a7;
}




.child3 {
    background-color: #ffffff;
    grid-column: 1/2;
    grid-row: 2/3;
}
.child3 .row1 {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.child3 .row1 h5 {
    margin: 0;
}
.child3 .row1 p {
    font-size: 10px;
    margin: 0;
}
.child3 .name-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child3 .row1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.child3 .row2 {
    padding: 5px 20px 0px 20px;
}
.child3 .row2 p {
    padding-top: 20px;
    font-size: 13px;
    color: #c8cacd;
}




.child4 {
    background-color: #1a202c;
    grid-column: 2/4;
    grid-row: 2/3;
    color: white;
}
.child4 .row1 {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.child4 .row1 h5 {
    margin: 0;
}
.child4 .row1 p {
    font-size: 10px;
    margin: 0;
}
.child4 .name-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child4 .row1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.child4 .row2 {
    padding: 5px 20px 0px 20px;
}
.child4 .row2 p {
    padding-top: 20px;
    font-size: 13px;
    color: #62656d;
}



.child5 {
    background-color: #ffffff;
    grid-column: 4/5;
    grid-row: 1/3;
}
.child5 .row1 {
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.child5 .row1 h5 {
    margin: 0;
}
.child5 .row1 p {
    font-size: 10px;
    margin: 0;
}
.child5 .name-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child5 .row1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.child5 .row2 {
    padding: 5px 20px 0px 20px;
}
.child5 .row2 p {
    padding-top: 20px;
    padding-right: 10px;
    font-size: 13px;
    color: #62656d;
}